{% extends 'header.html' %}
{% load static %}
{% block content %}
<center><h3>All Product of this site</h3></center>
	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th scope="col">Product name</th>
	      <th scope="col">Product Type</th>
	      <th scope="col">Product Price</th>
	      <th scope="col">Edit</th>
	      <th scope="col">Delete</th>
	    </tr>
	  </thead>
	  <tbody>
	  	{% for i in products %}
	    <tr>
	      <th scope="row">{{i.proname}}</th>
	      <td>{{i.protype}}</td>
	      <td>{{i.price}}</td>
	      <td><a class="btn btn-primary" href="{% url 'edit_product' pk=i.pk %}">Edit</a></td>
	      <td>
	      	<a class="btn btn-primary" href="{% url 'delete' pk=i.pk %}">Delete</a>
	      	</form>
	      </td>
	    </tr>
	    {% endfor %}
	  </tbody>	
	</table>	
        
{% endblock %}